Source: ros-kinetic-fiducials
Section: misc
Priority: extra
Maintainer: Jim Vaughan <jimv@mrjim.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/fiducials
Standards-Version: 3.9.2

Package: ros-kinetic-fiducials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-aruco-detect, ros-kinetic-fiducial-detect, ros-kinetic-fiducial-lib, ros-kinetic-fiducial-pose, ros-kinetic-fiducial-slam
Description: Localization using fiducial markers
